@import '../../breakpoint.scss';

.main {
  width: 100%;
}

.item {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-and-less) {
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
  }
}